.fmtblk ol {
  list-style-type: auto;
}

.fmtblk p,
.fmtblk h2,
.fmtblk h3,
.fmtblk ol {
  margin: revert;
  padding: revert;
  font-size: revert;
  font-weight: revert;
}

.fmtblk pre {
  margin: revert;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 6px;
  display: block;
  overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
  .fmtblk pre {
    background-color: black;
  }
}