.fmtblk ol {
  list-style-type: auto;
  margin: revert;
  padding: revert;
}

.fmtblk pre {
  margin: revert;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 6px;
  display: block;
  overflow-x: scroll;
}

section#comments form textarea {
  width: 60%;
  height: 100px;
}

@media (prefers-color-scheme: dark) {
  .fmtblk pre {
    background-color: black;
  }
}